<h1>Login</h1>
  <%= form_tag '/login', method: :post do  %>
   <div>
     Username <input id="username" name="username" type="text" />
   </div>
   <div>
     Password <input id="password" name="password" type="password" />
   </div>
    <input id="create_league" name="create_league" type="hidden" value=<%=@create_league %> />
  <%= submit_tag "Login" %>
 <% end %> 
 <br/>
 <p>Dont have an account? <a href="/signup">Signup</a></p>