<h1>Sign Up</h1>
<%= form_tag '/users', method: :post do  %>
   <div>
     Username <input id="username" name="username" type="text" />
   </div>
   <div>
     Email <input id="email" name="email" type="email" />
   </div>
   <div>
     First Name <input id="first_name" name="first_name" type="text" />
   </div>
   <div>
     Last Name <input id="last_name" name="last_name" type="text" />
   </div>
   <div>
     Password <input id="password" name="password" type="password" />
   </div>
   <div>
     Confirm password <input id="password_confirmation" name="password_confirmation" type="password" />    
   </div>
  <%= submit_tag "Submit" %>
 <% end %> 