<h1>User Info</h1>
<p><strong>Name: </strong><%= current_user.full_name %></p>
<p><strong>Email: </strong><%= current_user.email %></p>
<a class="btn btn-info"  href="/users/<%= current_user.id %>/edit">Edit</a>
<%= form_tag "/users/#{current_user.id}", method: :delete do %>
  <input class="btn btn-danger" type="submit" value="Delete">
<% end %>
