 <!-- Page Heading
    ================================================== -->
    <div class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="page-heading__title">Fantasy <span class="highlight">Fees</span></h1>
            <Ul class="">
              <h3><a href='/login' class="btn btn-success" width="100">Sign in</a></h3>
              <h3><a href='/signup' class="btn btn-success">Sign up</a></h3>
              <h3><a href='/leagues/new' class="btn btn-success">Create League</a></h3>
              <h3><a href='/' class="btn btn-success">Join League</a></h3>
            </Ul>
          </div>
        </div>
      </div>
    </div>

