<h1>Landing page</h1>
<h3><a href='/leagues/new'>Create League</a></h3>
<h3><a href='/leagues/join'>Join League</a></h3>
<table>
  <tr>
    <th>League</th>
    <th>Fee</th>
    <th>Paid</th>
  </tr>
  <% current_user.leagues.each do |league|  %>
  <tr>  
    <td><a href="/leagues/<%= league.id %>"><%= league.name %></a></td>
    <td>$<%= league.fee %></td>
    <td>
    <% if league.user_leagues.find_by(user_id:current_user.id).isFeePaid? %>
    <img src="/assets/paid.png" alt="paid" height="35px" width="35px"> 
    <% else %>
    <img src="/assets/not-paid.png" alt="not-paid" height="35px" width="35px">
    <% end %>
    </td>
  </tr>
  <% end %>
</table>
<br/>
